<form *ngIf="showAddItem" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="name">Item name</label>
        <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="Add item">
    </div>
    <div class="form-control">
        <label for="qte">Quantity</label>
        <input type="number" name="qte" [(ngModel)]="qte" id="qte" placeholder="set quantity">
    </div>
    <!-- <div class="form-control form-control-check">
        <label for="reminder">Reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder">
    </div> -->
    <input type="submit" value="" class="btn btn-block" value="Save">
</form>